@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 1220px) {
    

    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: #fff;
        text-decoration: none;
    }
    
    header {
        display:flex;
        justify-content: center;
        align-items:center;
        padding: 20px 10px;
        background-color: #050505;
        
    }
    
    .logo {
        cursor: pointer;
    }
    
    .nav-links {
        list-style: none;
    }
    
    .nav-links li {
        display:inline-block;
        padding: 0px 20px;
    }
    
    .nav-links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav-links li a:hover{
        color: #FFCB74;
    }
    
    button {
        padding: 9px 25px;
        background-color: #2F2F2F;   
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition:all 0.3s ease 0s;
    }
    
    button:hover {
        background-color: #facf86;
    }
    
    .contact button{
        color: #fff;
        margin-top: 20px;
        margin-right: 10px;
    }
    .contact button:hover{
        color: #111111;
    }
    
    .container {
        background-color: rgb(161, 98, 90);
        width: 400px;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        padding: 50px;
        position: relative;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    img {
        border-bottom-right-radius: 80px;
        display:flex;
        margin-bottom: 20px;
    }
    
    h1,p {
        font-family: "Montserrat", sans-serif;
        color: #111111;
    }
    
    .main-section {
        margin: 0 auto;
    }
    
    .project-section {
        width: 400px;
        height: 628px;
        background-color: rgb(161, 98, 90);
        border-radius: 30px;
        display:flex;
        justify-content: center;
        padding-top:20px;
        position: relative;
        margin: auto;
        margin-bottom: 30px;
    } 
    
    .project-links li{
        list-style: none;
        text-align: center;
        color: white;
        
    }
    
    .project-links button{ 
        background-color: #2F2F2F;
        color: white;
    }
    .project-links button:hover { 
        color: black;
        background-color: #facf86;
    }
    
}


@media screen and (min-width: 1221px) {

    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        text-decoration: none;
    }
    
    header {
        display:flex;
        justify-content: center;
        align-items:center;
        padding: 20px 10px;
        background-color: #050505;
        
    }
    
    .logo {
        cursor: pointer;
    }
    
    .nav-links {
        list-style: none;
    }
    
    .nav-links li {
        display:inline-block;
        padding: 0px 20px;
    }
    
    .nav-links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav-links li a:hover{
        color: #FFCB74;
    }
    
    button {
        padding: 9px 25px;
        background-color: #2F2F2F;   
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition:all 0.3s ease 0s;
    }
    
    button:hover {
        background-color: #facf86;
    }
    
    .contact button{
        color: #fff;
        margin-top: 20px;
        margin-right: 10px;
    }
    .contact button:hover{
        color: #111111;
    }
    
    .container {
        background-color: rgb(161, 98, 90);
        width: 800px;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        padding: 50px;
        position: relative;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    img {
        border-bottom-right-radius: 80px;
        display:flex;
        margin: auto;
        margin-bottom: 20px;
        
    }
    
    h1,p {
        font-family: "Montserrat", sans-serif;
        color: #111111;
    }
    
    .main-section {
        margin: 0 auto;
    }
    
    .project-section {
        width: 800px;
        height: 628px;
        background-color: rgb(161, 98, 90);
        border-radius: 30px;
        display:flex;
        justify-content: space-around;
        padding-top:20px;
        position: relative;
        margin: auto;
        margin-bottom: 30px;
        
    } 
    
    .project-links li{
        list-style: none;
        text-align: center;
        color: white;
        
    }
    
    .project-links button{ 
        background-color: #2F2F2F;
        color: white;
    }
    .project-links button:hover { 
        color: black;
        background-color: #facf86;
    }

}

